<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Your Albums</h2>
      <br>
      <a class="javascript:void(0)" routerLink="/album/{{ id }}" class="btn btn-outline-secondary pull-right">back
        albums</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div *ngFor="let albumuser of albumByUserList" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
          <p class="card-text"> {{ albumuser.title }} </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a [routerLink]="['/photo',albumuser.id,id]" class="btn btn-sm btn-outline-info">View</a>
              <button type="button" (click)="open(content,albumuser)" class="btn btn-sm btn-outline-secondary">Edit
                permision</button>
            </div>
            <small class="text-muted">{{ albumuser.id }} mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal edit permission album -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit permission</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ albumModel.title }} </h5>
        <h6 class="card-subtitle mb-2 text-muted">ID: {{ albumModel.id }} </h6>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="isCollapsedAdd = !isCollapsedAdd"
            [attr.aria-expanded]="!isCollapsedAdd" aria-controls="collapseExample">Add</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample11">List</button>
        </div>
      </div>
    </div>
    <div id="collapseExample" [ngbCollapse]="isCollapsedAdd">
      <div class="card">
        <div class="card-body">
          <form>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="selectbasic">Select user</label>
              <div class="col-md-6">
                <select id="selectbasic" name="selectbasic" class="form-control">
                  <option value="-0">-- select option --</option>
                  <option *ngFor="let user of userList" value="user.id"> {{ user.name }} </option>
                </select>
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Read">
              <label class="form-check-label" for="Read">
                Read
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="white">
              <label class="form-check-label" for="white">
                white
              </label>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>