
<div class="container">
  <div class="row">
    <h2 class="text-center" >Users</h2>
  </div>

<hr/>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label for="exampleInputSearch">Search <i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" class="form-control" id="exampleInputSearch" aria-describedby="emailHelp" placeholder="Search...">
        </div>
  </div>
<div class="col-md-12">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
</div>

</div>